@use "../../../app/styles/common/mixins" as *;

.v-switch {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  background-color: #ececf1;
  height: rem(40px);
  border-radius: rem(24px);

  &__label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 50%;
    color: #333333;
    transition: all 0.3s ease;
    height: 100%;
    font-size: rem(18px);
    font-weight: 600;
    user-select: none;
    box-sizing: border-box;

    &:hover {
      background-color: rgba(19, 189, 19, 0.28);
    }

    &.--active {
      color: rgb(4, 159, 4);
    }
  }
}
