@use "../common/mixins" as *;

.room {
  width: 100%;
  min-height: 100vh;
  position: relative;

  &.--sidebar-opened {
    .room__body {
      padding: rem(24px 32px 24px 680px);
    }
  }

  &.--goals-opened {
    .room__body {
      padding: rem(24px 32px 24px 360px);
    }
  }

  &__body {
    padding: rem(24px 40px);
    background: #f9f9f9;
    color: #333333;
    transition: all 0.3s ease;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.3s ease;
}

.slide-left-leave-to,
.slide-left-enter-from {
  transform: translateX(-100%);
}

.slide-left-enter-to {
  transform: translateX(0);
}
