@use "../common/mixins" as *;

.sendbox {
  padding: rem(32px 80px);
  text-align: center;

  &__desc {
    margin-top: rem(24px);
  }

  &__wrapper {
    margin-top: rem(48px);
    display: flex;
    align-items: flex-start;
    gap: rem(16px);
  }

  &__prompt {
    flex: 0 0 rem(360px);
    height: rem(120px);
    border-radius: rem(12px);
    background: rgb(255, 170, 0);
    box-shadow: rem(0px 2px 4px 0px rgba(0, 3, 13, 0.07));
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &-title {
      font-size: rem(24px);
      line-height: rem(32px);
      font-weight: 500;
    }
  }

  &__modal {
    width: 100%;
    min-height: 100%;
    background: #ffffff;
  }
}
