@use "../common/mixins" as *;

.tasks {
  &__container {
    max-width: rem(600px);
    margin: 0 auto;
    padding: rem(20px);
  }

  &__question {
    margin-bottom: rem(20px);

    &-input {
      display: block;
      margin-top: rem(10px);
      padding: rem(5px);
      width: 100%;
    }

    &-btn {
      margin-top: rem(10px);
      cursor: pointer;
      padding: rem(5px 10px);
    }

    &-tip {
      margin-top: rem(10px);
      color: green;
    }
  }
}
